<!--
<div class="list-group">

    <pokemon-list-item pokemon="singlePokemon" ng-repeat="singlePokemon in $ctrl.pokemons"></pokemon-list-item>

</div>
-->

<md-list>
	  <md-list-item class="md-2-line"  ng-repeat="singlePokemon in pokemons">
	  		<div class="md-list-item-text">
				    <a href="#!/pokemons/{{singlePokemon.objectId}}">{{singlePokemon.name}}</a>
            <p>Вес: {{singlePokemon.weight}}, рост: {{singlePokemon.height}}</p>
		  	</div>
	  </md-list-item>
</md-list>
